.footerContainer {
  color: white;
  background-color: black;
}

.footerArea1 {
  background-color: black;
  margin-bottom: 10px;
}

.greyLine {
  width: 100%;
  border-bottom: 1px solid #7b7972;
  background-color: black;
}

.footerArea1 img {
  max-width: 50px;
}

.footerInfo {
  display: flex;
  height: 50px;
  font-size: 12px;
}

.footerInfo h4 {
  font-size: 14px;
}

.footerInfoHeader {
  margin-left: 5px;
  margin-top: 5px;
}
