<div class="footerContainer">
  <div class="lineDiv row">
    <div class="lineDiv col">
      <hr class="greyLine">
    </div>
  </div>
  <div class="footerArea1 row">
    <div class="col-md footerInfo">
      <div class="footerInfoIcon">
        <img src="../assets/climbericon.svg" alt="">
      </div>
      <div class="footerInfoHeader">
        <h4>Mountain Project</h4>
        <p>The Definitive Climbing Resource</p>
      </div>
    </div>
    <div class="col-md footerInfo">
      <div class="footerInfoIcon">
        <img src="../assets/bikericon.svg" alt="">
      </div>
      <div class="footerInfoHeader">
        <h4>MTB Project</h4>
        <p>Next Generation MTB Trail Maps</p>
      </div>
    </div>
    <div class="col-md footerInfo">
      <div class="footerInfoIcon">
        <img src="../assets/powdericon.svg" alt="">
      </div>
      <div class="footerInfoHeader">
        <h4>Powder Project</h4>
        <p>Back Country Ski Maps & Secret Stashes</p>
      </div>
    </div>
  </div>
  <div class="footerArea1 row">
    <div class="col-md footerInfo">
      <div class="footerInfoIcon">
        <img src="../assets/hikericon.svg" alt="">
      </div>
      <div class="footerInfoHeader">
        <h4>Hiking Project</h4>
        <p>Better Data. Better Maps. Better Hikes.</p>
      </div>
    </div>
    <div class="col-md footerInfo">
      <div class="footerInfoIcon">
        <img src="../assets/runnericon.svg" alt="">
      </div>
      <div class="footerInfoHeader">
        <h4>Trail Run Project</h4>
        <p>Inspiration & Guides to Fuel Your Run</p>
      </div>
    </div>
    <div class="col-md footerInfo">
      <div class="footerInfoIcon">
        <img src="../assets/reiicon.png" alt="">
      </div>
      <div class="footerInfoHeader">
        <h4>National Park Guide</h4>
        <p>The Ultimate Guide to National Parks</p>
      </div>
    </div>
  </div>
  <div class="lineDiv row">
    <div class="lineDiv col">
      <hr class="greyLine">
    </div>
  </div>
</div>
