<nav-bar></nav-bar>
<div>
  <div class="detailImage">
    <img src='{{routeToDisplay.image}}' alt="">
  </div>
  <h3>{{routeToDisplay?.name}}</h3>
  <h4>{{routeToDisplay?.grade}}</h4>
  <p>{{routeToDisplay?.description}}</p>
  <p>{{routeToDisplay?.$key}}</p>
</div>

<!-- <div class="comment">
  <h3>Leave a comment about this route:</h3>
  <textarea #comment rows="8" cols="80"></textarea>
  <button (click)="submitComment(comment.value) comment.value='';" class="btn btn-danger">Submit Comment</button>
</div> -->
<app-footer></app-footer>
