<nav-bar></nav-bar>
<div class="detailCenter">
  <div class="detailContainer">
    <div class="detailImage">
      <img src='{{routeToDisplay.image}}' alt="">
    </div>
    <div class="detailInfo">
      <div class="detailName">
        <h3><strong>Route Name: </strong> {{routeToDisplay?.name}}</h3>
      </div>
      <div class="detailGrade">
        <h4><strong>Route Grade: </strong> {{routeToDisplay?.grade}}</h4>
      </div>
      <div class="detailLocation">
        <h4><strong>Route Location: </strong>{{routeToDisplay?.area}}</h4>
      </div>
      <div class="detailDescription">
        <p><strong>Route Description: </strong> {{routeToDisplay?.description}}</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
