.frontSplash {
  background-image: url("../assets/smithrock2.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
}

.topBar {
margin: auto;
text-align: center;
font-size: 100px;
color: white;
}

.topBar h1 {
  font-size: 75px;
}

.newsRoute {
  display: flex;
}
.footerContainer {
  background-color: black;
}

.footerArea1 {
  background-color: black;
}

.greyLine {
  width: 100%;
  border: 2px solid #7b7972;
  background-color: black;
}
