<div class="navBar">
  <div class="navButtons">
    <a href="#">SHOP REI</a>
    <a href="#">REI GARAGE</a>
    <a href="#">REI ADVENTURES</a>
    <a href="#">CLASSES & EVENTS</a>
    <a href="#">EXPERT ADVICE</a>
    <a href="#">CO-OP JOURNAL</a>
    <a href="#">#OPTOUTSIDE</a>
  </div>
</div>
<div class="navBarLower">
  <div class="navBarLowerContent">
        <img src="../assets/climbericon.svg" alt="">
        <a href="#">Route Guide</a>
        <a href="#">What's New</a>
        <a href="#">Partners</a>
        <a href="#">Forum</a>
  </div>
</div>
<div class="container-fluid frontSplash">
  <div class="topBar">
  </div>
</div>
