<div class="navBar">
  <div class="navButtons">
    <a href="#">SHOP REI</a>
    <a href="#">REI GARAGE</a>
    <a href="#">REI ADVENTURES</a>
    <a href="#">CLASSES & EVENTS</a>
    <a href="#">EXPERT ADVICE</a>
    <a href="#">CO-OP JOURNAL</a>
    <a href="#">#OPTOUTSIDE</a>
  </div>
</div>
<div class="navBarLower">
  <div class="navBarLowerContent">
    <div class="logoDiv">
      <a routerLink=''><img src="../assets/logo.svg" alt=""></a>
    </div>
    <div class="navBarLowerLinks">
      <a href="#">Route Guide</a>
      <a href="#">What's New</a>
      <a href="#">Partners</a>
      <a href="#">Forum</a>
    </div>
  </div>
</div>
<div class="container-fluid frontSplash">
  <div class="topBar">
    <div class="row main-row">
      <div class="col-md-5">
        <div class="main-img-div">
          <img src="../../assets/smithheader.jpg" alt="">
        </div>
      </div>
      <div class="col-md-3 centerCol">
        <p>Route Finder</p>
        <button class="btn btn-primary">Find Routes</button>
      </div>
      <div class="col-md-4 rightCol">
        <div class="rightHeader">
          <h3>hey</h3>
        </div>
        <div class="rightList">
          <ul>
            <li>hey</li>
            <li>hey</li>
            <li>hey</li>
            <li>hey</li>
            <li>hey</li>
            <li>hey</li>
            <li>hey</li>
            <li>hey</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
