.fullNavBar {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.frontSplash {
  /*background-image: url("../../assets/smithrock2.jpg");*/
  background-color: black;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.topBar {
margin: auto;
text-align: center;
font-size: 100px;
color: white;
}

.topBar h1 {
  font-size: 75px;
}
.navBar {
    background-color: #2a2a2a;

}
.navButtons {

  height: 40px;
  margin-left: 100px;
}

.navButtons a {
  margin-left: 20px;
}

.navBarLower {
  height: 75px;
  background-color: black;
}

.navBarLowerContent {
  height: 50px;
  margin-left: 120px;
  display: flex;
  padding-top: 10px;


}

.navBarLowerContent img {
  max-height: 100%;
}

.navBarLowerContent a {
    margin-left: 10px;
    margin-right: 10px;
}
.main-img-div img {
  height: 330px;
  max-width: 100%
}

.centerCol {
  background-color: #2a2a2a;
  font-size: 20px;
}

.rightCol {
  font-size: 20px;
}

.logoDiv {
  height: 50px;
}

.navBarLowerLinks {
  padding-top: 15px;
}

.gradeSelect {
  display: flex;
}

.gradeSelect p {
  margin-left: 2px;
  margin-right: 2px;
}

.appDiv img {
  height: 30px;

}
.forumLeft {
  max-width: 60%;
}
.forumRight {
  max-width: 100%;
}
.forumEntry {
  display: flex
}

.forumCenter {
  overflow: hidden;

}
.forumCenter hr {
border-bottom: 1px dashed #7b7972;
height: 16px;
border-top: 0px;
margin: 0 4px;
padding-top: 5px;

}

.rightHeader {
  text-align: left;
}
