<div class="fullNavBar">


<div class="navBar">
  <div class="navButtons">
    <a href="#">SHOP REI</a>
    <a href="#">REI GARAGE</a>
    <a href="#">REI ADVENTURES</a>
    <a href="#">CLASSES & EVENTS</a>
    <a href="#">EXPERT ADVICE</a>
    <a href="#">CO-OP JOURNAL</a>
    <a href="#">#OPTOUTSIDE</a>
  </div>
</div>
<div class="navBarLower">
  <div class="navBarLowerContent">
    <div class="logoDiv">
      <a routerLink=''><img src="../assets/logo.svg" alt=""></a>
    </div>
    <div class="navBarLowerLinks">
      <a href="#">Route Guide</a>
      <a href="#">What's New</a>
      <a href="#">Partners</a>
      <a href="#">Forum</a>
        <img src="../assets/android.png" alt="">
        <img src="../assets/apple.png" alt="">
    </div>
  </div>
</div>
<div class="container-fluid frontSplash">
  <div class="topBar">
    <div class="row main-row">
      <div class="col-md-5">
        <div class="main-img-div">
          <img src="../../assets/smithheader.jpg" alt="">
        </div>
      </div>
      <div class="col-md-3 centerCol">
        <h2>Route Finder</h2>
        <p>Tell us what you like and we'll tell you what to climb!</p>
        <table>
          <tbody>
            <tr>
              <td>Quality: </td>
              <td>
                <select class="form-control">
                <option value="../assets/1star.png">One star</option>
                <option value="../assets/2star.png">Two star</option>
                <option value="../assets/3star.png">Three star</option>
                <option value="../assets/4star.png">Four star</option>
                <option value="../assets/5star.png">Five star</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Pitches: </td>
              <td>
                <select class="form-control">
                <option value="../assets/1star.png">Any Number</option>
                <option value="../assets/2star.png">Exactly 1</option>
                <option value="../assets/3star.png">More than 2</option>
                <option value="../assets/4star.png">More than 3</option>
                <option value="../assets/5star.png">More 4+ pitches</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Type: </td>
              <td>
                <select class="form-control">
                  <option value="../assets/1star.png">Trad</option>
                  <option value="../assets/2star.png">Sport</option>
                  <option value="../assets/3star.png">Mixed</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="gradeSelect">
          <select class="form-control">
            <option value="../assets/1star.png">15</option>
            <option value="../assets/2star.png">16</option>
            <option value="../assets/3star.png">17</option>
          </select>
          <p>to</p>
          <select class="form-control">
            <option value="../assets/1star.png">15</option>
            <option value="../assets/2star.png">16</option>
            <option value="../assets/3star.png">17</option>
          </select>
        </div>
        <button class="btn btn-primary">Find Routes</button>
      </div>
      <div class="col-md-4 rightCol">
        <div class="rightHeader">
          <h3>Forum Posts</h3>
        </div>
        <div class="forumContainer">
          <div class="forumEntry">
            <div class="forumLeft float-left text-truncate">
              <a href="#">Climbing at smith: clip stick required?</a>
            </div>
            <div class="forumRight float-right">
              <p>5 minutes ago</p>
            </div>
            <div class="forumCenter clearfix">
              <hr class="dashed-b">
            </div>
          </div>
          <div class="forumEntry">
            <div class="forumLeft float-left text-truncate">
              <a href="#">Climbing at smith: clip stick required?</a>
            </div>
            <div class="forumRight float-right">
              <p>5 minutes ago</p>
            </div>
            <div class="forumCenter clearfix">
              <hr class="dashed-b">
            </div>
          </div>
          <div class="forumEntry">
            <div class="forumLeft float-left text-truncate">
              <a href="#">Climbing at smith: clip stick required?</a>
            </div>
            <div class="forumRight float-right">
              <p>5 minutes ago</p>
            </div>
            <div class="forumCenter clearfix">
              <hr class="dashed-b">
            </div>
          </div>
          <div class="forumEntry">
            <div class="forumLeft float-left text-truncate">
              <a href="#">Climbing at smith: clip stick required?</a>
            </div>
            <div class="forumRight float-right">
              <p>5 minutes ago</p>
            </div>
            <div class="forumCenter">
              <hr class="dashed-b">
            </div>
          </div>
          <div class="forumEntry">
            <div class="forumLeft float-left text-truncate">
              <a href="#">Climbing at smith: clip stick required?</a>
            </div>
            <div class="forumRight float-right">
              <p>5 minutes ago</p>
            </div>
            <div class="forumCenter">
              <hr class="dashed-b">
            </div>
          </div>
          <div class="forumEntry">
            <div class="forumLeft float-left text-truncate">
              <a href="#">Climbing at smith: clip stick required?</a>
            </div>
            <div class="forumRight float-right">
              <p>5 minutes ago</p>
            </div>
            <div class="forumCenter">
              <hr class="dashed-b">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
