<div class="container">
<input #routeGrade>
<button (click)="submitGrade(routeGrade.value)">Filter by Grade </button>
  <div *ngFor="let route of childRouteList | filterGrade:filterByGrade" class="routeList">
    <h3>{{route.name}}</h3>
    <ul>
      <li>Location: {{route.area}}</li>
      <li>Grade: {{route.grade}}</li>
      <li>Type: {{route.type}}</li>
      <li>Height: {{route.height}}ft</li>
    </ul>
    <div class="description">
      <p>{{route.description}}</p>
    </div>
    <div class="starRating">
      <img src={{route.star}}>
    </div>
  </div>
</div>
