.starRating {
  max-width: 150px;
}

td img {
  max-width: 100%;
}

.listLeft {

}

.col1{
  display: flex;
  flex-direction: column;
}

.nameLink:hover {
  cursor: pointer;
  color: #12406b;
}
.nameLink {
  color: #467bae;
  font-size: 18px;
}
