<div class="container listLeft">
  <div class="form-group">
    <input class='form-control' placeholder="Select maximum grade you wish to climb" #routeGrade>
    <button class="btn btn-danger" (click)="submitGrade(routeGrade.value); routeGrade.value='';">Filter by Grade </button>
  </div>
<h3>List of Smith Rock Climbs</h3>
<div *ngFor="let route of routesArray | async | filterGrade:filterByGrade" class="row">
  <div class="col">
    <div class="table-responsive max-height max-height-md-none max-height-xs-300">
      <table class="table table-striped route-table">
        <tbody>
          <tr class="route-row">
            <td class="route-row">
              <a href="#">{{route.name}}</a>
            </td>
            <td class="route-row">
              {{route.area}}
            </td>
            <td class="route-row">
              <div class="starRating">
                <img src={{route.star}} alt="">
              </div>
            </td>
            <td class="route-row">
              {{route.grade}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
